<html>
<div ng-app="license" ng-cloak>

    <div ng-include="'/header'">
    </div>

    <body>
        <div ng-include="'/menu'">
        </div>
        <div ng-controller="settingController" class="container">
            <div ng-if="isAuthenticated">

                <div ng-init="getSettings()">
                    Settings
                </div>
                <div ng-include="'/footer'">
                </div>
            </div>

            <div ng-if="!isAuthenticated">
                <div ng-include="'/error/401'">
                </div>
            </div>

            <!-- bower:js -->
            <script src="/lib/jquery/dist/jquery.js"></script>
            <script src="/lib/angular/angular.js"></script>
            <script src="/lib/angular-animate/angular-animate.min.js"></script>
            <script src="/lib/angular-sanitize/angular-sanitize.min.js"></script>
            <script src="/lib/angular-facebook/lib/angular-facebook.js"></script>
            <script src="/lib/lodash/dist/lodash.js"></script>
            <script src="/lib/tether/dist/js/tether.js"></script>
            <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="/lib/angular-bootstrap/ui-bootstrap.min.js"></script>
            <script src="/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
            <!-- endbower -->

            <!--inject:js-->
            <script src="/js/app.js"></script>
            <script src="/js/controllers/menu.js"></script>
            <script src="/js/controllers/account/settings.js"></script>
            <script src="/js/services/authService.js"></script>
            <!--endinject-->

    </body>
    </div>

</html>