<html>
<div ng-app="license" ng-cloak>
    <div ng-include="'/header'"></div>

    <body>

        <div ng-include="'/menu'"></div>

        <div class="container" ng-controller="registerController">
            <div class="col-8 offset-2 ">
                <form name="register" novalidate>
                    <div class="form-group row has-success">
                        <label class="col-sm-2 col-form-label">
            First Name
            </label>
                        <div class="col-sm-10">
                            <input type="text" ng-class="!register.firstname ? 'form-control':'form-control form-control-success'" id="firstName" ng-model="register.firstname" required>
                        </div>
                    </div>

                    <div class="form-group row has-success">
                        <label class="col-sm-2 col-form-label">Last Name</label>
                        <div class="col-sm-10">
                            <input type="text" ng-class="!register.lastname ? 'form-control':'form-control form-control-success'" id="lastName" ng-model="register.lastname" required>
                        </div>
                    </div>

                    <div class="form-group row" ng-class="validEmail ? 'has-success':'has-danger'">
                        <label class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="text" ng-class="!register.email ? 'form-control':'form-control form-control-success'" id="email" ng-model="register.email" required>
                            <div class="form-control-feedback" ng-show="!validEmail">Please add a valid email</div>
                        </div>
                    </div>

                    <div class="form-group row" ng-class="getMatchPasswordClass('has-',strongPassword)">
                        <label class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" ng-change="analyze(register.password)" ng-class="getMatchPasswordClass('form-control form-control-',strongPassword)" ng-model="register.password" required>
                            <small class="form-control-feedback" ng-show="isPasswordStrong">Parola trebuie sa aiba o litera mare, un semn,o cifra,peste 8 caractere</small>
                            <small class="form-control-feedback" ng-show="isMediumStrong">Parola este medie.Parola trebuie sa aiba o litera mare, un semn,o cifra,peste 8 caractere</small>
                        </div>
                    </div>

                    <div class="form-group row" ng-class="getMatchPasswordClass('has-',passwordMatch)">
                        <label class="col-sm-2 col-form-label">Confirm Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" ng-class="getMatchPasswordClass('form-control form-control-',passwordMatch)" ng-model="register.passwordConfirm" required>
                            <small class="form-control-feedback" ng-show="passwordMatch===2">The password are not match</small>

                        </div>
                    </div>
                    <!-- ALERT -->
                    <span ng-bind-html="showAlert">
          </span>
                    <button type="button" class="btn btn-secondary btn-lg btn-block" ng-click="Submit()">Submit</button>
                </form>
            </div>

        </div>

        <div ui-view></div>

        <!-- bower:js -->
        <script src="/lib/jquery/dist/jquery.js"></script>
        <script src="/lib/angular/angular.js"></script>
        <script src="/lib/angular-animate/angular-animate.min.js"></script>
        <script src="/lib/angular-touch/angular-touch.min.js"></script>
        <script src="/lib/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="/lib/angular-facebook/lib/angular-facebook.js"></script>
        <script src="/lib/lodash/dist/lodash.js"></script>
        <script src="/lib/tether/dist/js/tether.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/lib/angular-bootstrap/ui-bootstrap.min.js"></script>
        <script src="/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <!-- endbower -->
        <!--inject:js-->
        <script src="/js/app.js"></script>
        <script src="/js/controllers/menu.js"></script>
        <script src="/js/controllers/register.js"></script>
        <script src="/js/services/authService.js"></script>
        <!--endinject-->
    </body>

</html>