<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>
        <%= title %>
    </title>

    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/animate.css/animate.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/bootstrap-social/bootstrap-social.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="/lib/angular-bootstrap/ui-bootstrap-csp.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <!-- endbower -->

    <!--inject:css-->
    <link rel="stylesheet" href="/css/style.css">
    <!--endinject-->
</head>