<div ng-controller="menuController as $ctrl">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="background-color: #e3f2fd;">

        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="container">

            <a class="navbar-brand" href="/">
                <img src="" width="30" height="30" class="d-inline-block align-top" alt=""> Be there
            </a>

            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Feature 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Feature 2</a>
                    </li>
                </ul>
                <span class="navbar-text" ng-if='isAuthenticated'>
     
    
  <ul class="nav pull-right">
  <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Buna, {{name}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">
            <i class="fa fa-pencil icon-dropdown-pandding" aria-hidden="true"></i>
            Account
          </a>
          <a class="dropdown-item" href="/account/settings">
            <i class="fa fa-cogs icon-dropdown-pandding" aria-hidden="true"></i>
            Setting
          </a>
          <a class="dropdown-item" ng-click="logout()">
             <i class="fa fa-sign-out icon-dropdown-pandding" aria-hidden="true"></i>
            Logout
          </a>
        </div>
      </li>
    </ul>
    </span>
                <span ng-if='!isAuthenticated'>
       <ul class="nav pull-right">
         <li class="nav-item">
            <a class="nav-link" ng-click="login()">Login</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
       </ul>
    </span>
            </div>
    </nav>
    </div>
    <br/>