<div class="<%=type%> alert alert-dismissible" role="alert">
  <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
  <strong> 
    <%= title %>
  </strong>
  <%= message%>
</div>