<div ng-controller="loginController">
    <div class="modal-header">
        <h3>Login</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="modal-body">
                        <a class="btn btn-block btn-social btn-lg btn-google" ng-click="googleLogin()" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-lg']);" style="color:white">
                            <i class="fa fa-google"></i>Sign in with Google</a>
                    </div>
                </div>
                <div class="row">
                    <div class="modal-body">
                        <a class="btn btn-block btn-social btn-lg btn-facebook" ng-click="facebookLogin()" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-lg']);" style="color:white">
                            <i class="fa fa-facebook"></i>Sign in with Facebook</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <form name="user" novalidate>
                    <div class="modal-body">

                        <!-- EMAIL -->
                        <div class="form-group row" ng-class="validEmail && validLogin ? 'has-success':'has-danger'">
                            <label class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                                <input type="email" ng-class="!user.email ? 'form-control':'form-control form-control-success'" ng-class="validEmail ? 'form-control':'form-control form-control-success'" id="email" ng-model="user.email" required>
                                <div class="form-control-feedback" class="help-block" ng-show="!validEmail">Please add a valid email</div>
                            </div>
                        </div>

                        <!-- PASSWORD -->
                        <div class="form-group row" ng-class="validLogin ? 'has-success':'has-danger'">
                            <label class="col-sm-3 col-form-label">Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" ng-change="analyze(user.password)" ng-class="getMatchPasswordClass('form-control form-control-',strongPassword)" ng-model="user.password" required>
                            </div>
                        </div>
                        <!-- ALERT -->
                        <span ng-bind-html="showAlert">
                    </span>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" ng-click="localLogin()">Login</button>
                        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-XXXXX-X']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') +
            '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>